.env
.DS_Store
.vscode/
**__pycache__/
*.pyc
*.out
*.csv
real_data/*
!real_data/.gitkeep
simulated_data/*
!simulated_data/.gitkeep
evaluation_results/*
!evaluation_results/.gitkeep
visualization_figures/*
!visualization_figures/.gitkeep