.env
.DS_Store
.vscode/
**__pycache__/
*.pyc
*.out
*.csv
real_data/** */
!real_data/
simulated_data/**
!simulated_data/
evaluation_results/**
!evaluation_results/
visualization_figures/**
!visualization_figures/